@import "tailwindcss";

@theme {
    --color-dark: #212123;
    --color-light-dark: #707079;
    --color-light-gray: rgba(0, 0, 0, .15);
    --color-base: #ff5c39;
    --color-white-100: #efefef;

    --font-sans: "Nimbus Sans L Reu", Arial, sans-serif;
    --font-machina: "Neue Machina", Arial, sans-serif;
}

@font-face {
    font-family: "Nimbus Sans L Reu";
    src: url("/fonts/nimbussanl-regu-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nimbus Sans L Reu";
    src: url("/fonts/nimbussanl-bold-webfont.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Machina";
    src: url("/fonts/NeueMachina-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* --------------------------------------------------- */
/* 3. Global Styles */
/* --------------------------------------------------- */
html,
body {
    width: 100%;
    font-family: "Nimbus Sans L Reu", Arial, sans-serif;
    line-height: 1.2rem;
    scroll-behavior: smooth;
    font-size: 1rem;
}

input{
    border: none;
    outline: none;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility flex-between {
    @apply flex justify-between items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility masked-img {
    mask-image: url("/images/mask-img.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}

.nav-link > *{
    font-size: 1.1em;
    line-height: 1.4em;
    color: white;
    font-weight: 400;
    white-space: nowrap;
}

.border-x-gray{
    border-left: 1px solid #303033;
    border-right: 1px solid #303033;
}

.nav-slide-link:hover .nav-slide-wrapper {
    transform: translateY(-1.5rem)
}

.btn-clip{
    transition: background-color 0.3s ease, color 0.3s ease; 
    clip-path: polygon(0.5rem 0px, 100% 0px, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0px 100%, 0px 0.5rem);
}

.btn-clip:hover{
    color: var(--color-base);
}

.btn-clip .stroke::before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.5rem 0.5rem 0px 0px;
    border-color: currentColor;
}

.btn-clip .stroke::after{
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 0px 0.5rem 0.5rem;
    border-color: transparent transparent currentcolor;
}

/* Contact Us */
#contact_us > *{
    font-family: var(--font-machina);
}

#contact_us input{
    padding: 8px 10px 8px 0px;
    color: var(--color-dark);
    line-height: 150%;
    letter-spacing: .05em;
}

input::placeholder, label{
    color: var(--color-light-dark);
}

button:hover{
    cursor: pointer;
}

button.active{
    background-color: var(--color-base);
    color: white;
}

button.type-pill{
    height: 2rem;
    font-size: .8rem;
    padding: 0 1rem;
    border: 1px solid var(--color-light-gray);
    transition: background-color .4s, color .4s;
}

form span.required{
    content: "";
    display: block;
    @apply abs-center;
    right: 0;
    left: unset!important;
    width: .5rem;
    height: .5rem;
    background-size: cover;
    background-image: url("/images/icon/req-icon.svg");
}

form textarea{
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;
    margin-top: 10px;
    min-height: 80px;
    max-height: 200px;
    padding: 10px;
}

form textarea:focus-visible{
    outline: none;
}

form span.line{
    position: relative;
    display: block;
    height: 1px;
}

form span.line::before{
    content: "";
    position: absolute;
    inset: 0;
    opacity: .15;
    background: currentColor;
}

form span.line::after{
    content: "";
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transform-origin: left center;
    opacity: 1;
    background: currentColor;
    transition: transform 1s cubic-bezier(.16, 1, .3, 1);
}

form input{
    width: 100%;
}

form label{
    position: relative;
}

form input:focus ~ span.line::after,
form input:focus-visible ~ span.line::after {
    transform: scaleX(1);
}

